---
Language:                                       Cpp
BasedOnStyle:                                   LLVM
AccessModifierOffset:                           -4
AlignAfterOpenBracket:                          Align
AlignEscapedNewlines:                           Right
AlignOperands:                                  true
AlignTrailingComments:                          true
AllowShortBlocksOnASingleLine:                  false
AllowShortCaseLabelsOnASingleLine:              false
AllowShortFunctionsOnASingleLine:               Empty
AllowShortIfStatementsOnASingleLine:            false
AllowShortLoopsOnASingleLine:                   false
AlwaysBreakTemplateDeclarations:                Yes
BreakBeforeBraces:                              Allman
BreakBeforeTernaryOperators:                    true
BreakConstructorInitializers:                   BeforeComma
BreakInheritanceList:                           BeforeComma
BreakStringLiterals:                            true
ColumnLimit:                                    140
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle:                           true
FixNamespaceComments:                           true
IndentCaseLabels:                               true
IndentPPDirectives:                             AfterHash
IndentWidth:                                    4
IndentWrappedFunctionNames:                     true
MaxEmptyLinesToKeep:                            2
NamespaceIndentation:                           None
PointerAlignment:                               Left
ReflowComments:                                 true
SortUsingDeclarations:                          true
SpaceAfterTemplateKeyword:                      true
SpaceBeforeCtorInitializerColon:                true
SpaceBeforeInheritanceColon:                    true
SpaceBeforeParens:                              ControlStatements
SpaceBeforeRangeBasedForLoopColon:              true
SpacesBeforeTrailingComments:                   3
Standard:                                       Cpp11
TabWidth:                                       4
UseTab:                                         Never
...
